
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: linear-gradient(to bottom, #f5f5f5, #e3e3e3);
    color: #333;
}

.heading {
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    color: #800000;
    margin-top: 40px;
   
    
    position: relative;
    padding-bottom: 10px;
}

.heading::after {
    content: "";
    width: 100px;
    height: 5px;
    background-color: #800000;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 40px;
}

.card {
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 25px;
    width: 300px;
    height: 350px;
    transition: all 0.4s ease;
    position: relative;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);
}

.image {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    margin: auto;
    display: block;
    border: 1px solid #800000;
    transition: transform 0.5s ease-in-out;
}

.image:hover {
    transform: scale(1.2);
}


.name {
    font-size: 22px;
    color: #222;
    margin-top: 15px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.card:hover .name {
    color: #800000;
}

.info {
    color: #555;
    font-size: 14px;
    padding: 10px;
    line-height: 1.6;
    transition: color 0.3s ease;
}

.card:hover .info {
    color: #444;
}


.social-contact {
   
    margin-top: 15px;
}

.social-contact a {
    margin: 0 10px;
    display: inline-block;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.social-contact a:hover {
    transform: scale(1.2);
}

.social-media-img {
    height: 40px;
    text-align: center;
    align-items: center;
    padding-top: 9px;
    transition: filter 0.3s ease, transform 0.3s ease;
}

.social-media-img:hover {
    filter: brightness(1.3);
    
}

