body{
    margin:0;
    padding:0;
    background-image:url(../assets/images/login-background.jpg);
} 
.welcome{
    font-size:50px;
    position: relative;
    top:250px;
    left:200px;
}
 
 .login-container{
    position:relative;
    bottom:80px;
    border:0 solid black;
    margin-left:60%;
    width:400px;
    border-radius:15px;
    padding:10px;
    box-shadow: 0 0 10px 5px gray;
    background-color:white;
}
.login-icon{
    height:100px;
    display:block;
    margin:0 auto;
    margin-top:15px;
}
.login-brand{
    text-align: center;
}
.username{
    font-size:15px;
    padding:15px 20px;
    display:block;
    margin:0 auto;
    text-align: center;
    margin-top: 25px;
}
.login-pass{
    font-size:15px;
    padding:15px 20px;
    display:block;
    margin:0 auto;
    text-align: center;
    margin-top:25px;
}
.login-btn{
    text-decoration: none;
    font-size:20px;
    border-radius:5px;
    padding:10px 20px;
    display:block;
    margin:20px auto;
    cursor: pointer;
}
.login-btn:hover{
    box-shadow:0 0 1px 1px black;
}
.register-link{
    text-decoration: none;
    font-size:20px;
    color:black;
}

.register-link-btn{
    position:relative;
    left:50px;
    padding:5px 10px;
    border-radius:5px;
}
.register-link-btn:hover{
    box-shadow:0 0 1px 1px black;
}

.register-container{
    border:0 solid black;
    width:600px;
    margin: auto;
    padding:10px;
    background-color: white;
    border-radius: 15px;
    margin-top: 50px;
    background-color: white;
    box-shadow: 0 0 10px 5px gray;
}

.register-here{
    text-align: center;
    font-size: 25px;
}
.register-input{
   padding:10px 25px;
   text-align: center; 
   font-weight: bold;
   width:250px;
   margin:15px auto;

}
.checkbox{
    text-align: left;
    margin-right: 300px;
}
.checkbox-label{
    text-align: center;
    position: relative;
    bottom:20px;
    font-size: 20px;
}
.register-form{
    display:flex;
    flex-direction: column;
}
.register-btn{
    text-decoration: none;
    display: block;
    margin:20px auto;
    padding:10px 15px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    
}
.register-btn:hover{
    box-shadow: 0 0 1px 1px black;
}
.back-to-login{
    text-decoration: none;
    margin:15px auto;
    padding-left: 5%;
    font-size:20px ;
    
}
.back-to-login:hover{
    color:gray;
}

.forgot-pass-container{
    border:0 solid black;
    width:400px;
    margin:auto;
    padding:15px;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px gray;
    background-color: #E4EFE7;
    margin-top: 100px;
}

.forgot-password-heading{
    text-align:center;
}
.inputtext{
    font-size: 20px;
    padding:15px 20px;
}
.inputfield{
    width:300px;
    padding:10px 20px;
    margin-left:12px;
}
.input-container{
    margin:20px auto;
}
.passchange-btn{
    background-color: #FAF1E6;
    display:block;
    margin:20px auto;
    padding:10px 15px;
    font-size: 17px;
    border-radius: 10px;
    margin-top: 25px;
    cursor: pointer;
}
.passchange-btn:hover{
    box-shadow:0 0 1px 2px gray;
}
.login-back{
    text-decoration: none;
    margin:15px auto;
    padding-left: 37%;
    font-size:20px ;
}

.login-back:hover{
    color:gray;
}
.forgot-pass-link{
    text-decoration: none;
    font-size:20px;
    color:black;
    display: inline-block;
    padding-left: 10px;
}

.forgot-pass-btn{
    border-radius:5px;
    padding:5px 10px;
    margin:10px 10px;
}
.forgot-pass-btn:hover{
    box-shadow:0 0 1px 1px black;
}

