.receipt-container{
    border:1px solid black;
    border-radius:5px;
    background-color: whitesmoke;
    width:80%;
    margin:auto;
    padding:10px;
    box-shadow: 0 0 3px 2px gray;
}
.receipt-logo{
    display:block;
    margin:0 auto;
    height:150px;
}
.brand-name{
    text-align: center;
    font-size:25px;
}
.brand-address{
    text-align: right;
    font-size:20px;
}
.brand-mobile{
    text-align: right;
    font-size: 20px;
}
.receipt-tittle{
    text-align:center;
    font-size:30px;
    margin:40px auto;
}
.receipt-details-key{
    color:gray;
    font-size: 20px;

}
.receipt-details-value{
    font-weight: bold;
    border-bottom: 1px dashed black;
}