* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header {
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    margin-bottom: 15px;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.nav-menu {
    font-family: 'Arial', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 16px;
    transition: 0.3s;
    padding: 5px 10px;
}

.nav-menu:hover {
    color: #007BFF;
    text-decoration: underline;
}

.dropdown {
    position: relative;
    display: block;
}

.dropdown-content {
    width: 100px;
    padding: 20px;
    display: none;
    position: absolute;
    background-color: white;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav-menu-dropdown {
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
    color: black;
}

.nav-menu-dropdown:hover {
    color: #007BFF;
    text-decoration: underline;
}

/* Tablet Styles */
@media (min-width: 768px) {
    .navbar {
        flex-direction: row;
        padding: 15px 30px;
    }
    
    .header {
        margin-bottom: 0;
    }
    
    .nav-links {
        gap: 30px;
    }
    
    .nav-menu {
        font-size: 18px;
        margin-left: 0;
    }
}

/* Desktop Styles */
@media (min-width: 1024px) {
    .navbar {
        padding: 15px 50px;
    }
    
    .nav-links {
        gap: 50px;
    }
    
    .nav-menu {
        font-size: 20px;
        margin-left: 30px;
    }
}