* {
    margin: 0;
    padding: 0;
}

/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header {
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.nav-links {
    display: flex;
   
}

.nav-menu {
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: 0.3s;
     margin-left: 20px;
}

.nav-menu:hover {
    color: #007BFF;
    text-decoration: underline;
}
